<div class="fields">
    <%= f.label :rest_of_name, "Name:" %>
    <%= f.text_field :rest_of_name, :size => 10 %>
    <%= f.text_field :surname %>
    <%= link_to_remove_fields "remove", f %><br />
</div>
